* {
  margin: 0;
  padding: 0;
}

body {
	font-size: 16px;
	color: black;
	background-color: #d5a1f0;
	font-family: arial, sans-serif;
}

.row{
  width: 100%;
}


.item{
  position: relative;
  top: 0;
  background-color: #999999;
  margin: 15px;
  padding: 25px;
  padding-top: 0;
  border: 3px solid #000;
}

.item p{
  margin-top: 20px;
  text-align: justify;
  font-size:100%;
}

.item-title{
  margin-top: 0px;
  /*top:2px;*/
  right: 0px;
 }





/**** HEADER ****/
#header-nav {
	background-color: #bb42f5;
}

.navbar-brand {
	padding-top: 30px;
	padding-bottom: 40px;
	height: 30px;
}

.navbar-brand h1 { /* Food LCC */
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .80;
}

.encabezado h2{
  font-weight: bold;
  margin-top: 0px;
  height: 90px; 
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #976aad;
}
#nav-list a {
  color: black;/*#951C49;*/
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
